PORT=4000
NODE_ENV=development
JWT_SECRET=change_this_to_a_long_random_string

DATABASE_URL=postgresql://user:password@localhost:5432/ajo_db

MOMO_ENV=sandbox
MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MOMO_COLLECTION_SUBSCRIPTION_KEY=
MOMO_COLLECTION_API_USER=
MOMO_COLLECTION_API_KEY=
MOMO_DISBURSEMENT_SUBSCRIPTION_KEY=
MOMO_DISBURSEMENT_API_USER=
MOMO_DISBURSEMENT_API_KEY=
MOMO_TARGET_ENVIRONMENT=sandbox
MOMO_CURRENCY=EUR
MOMO_CALLBACK_HOST=https://yourdomain.com

AIRTEL_ENV=sandbox
AIRTEL_BASE_URL=https://openapiuat.airtel.africa
AIRTEL_CLIENT_ID=
AIRTEL_CLIENT_SECRET=
AIRTEL_COUNTRY=UG
AIRTEL_CURRENCY=UGX
